$icon-font-path: '../fonts/';
$alterate-gothic-font: $icon-font-path + '/alternate-gothic-2.ttf';

$kinematics-blue: #27267F;
$kinematics-border : 3px solid $kinematics-blue;

.kinematics a {
  color : $kinematics-blue;
  &.btn {
    color : white;
  }
}

.kinematics-nav.navbar-default {

  margin-bottom : 30px;
  border : 0;
  background-color : white;

  .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-nav > li > a {
    color : $kinematics-blue;
  }

}

@font-face {
  font-family: "Alternate Gothic";
  src: url($alterate-gothic-font);
}

.marketing {
  h2  {
    margin-top : 0;
  }
}

.logo {
  text-align: center;
  font-family: "Alternate Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:40px;
  width : 120px;
  > a#kinematics-link {
    color : #333333;
    text-decoration: none;
    border-bottom : $kinematics-border;
    padding-bottom : 4px;
  }
}

.btn-primary#book-now {
  background-color: $kinematics-blue;
  border-color: white;
  border-width: 2px;

  &:hover, &:active, &:focus, &.focus, &.active {
    background-color: $kinematics-blue;
    border-color: white;
  }
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */

  transition: all 0.5s ease;

  .btn-primary {
    float : right;
    margin-left: 0;
    background: $kinematics-blue;
    border: 0;
  }

  .logo {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  margin-top : 40px;
  border-top : $kinematics-border;
  padding-top: 19px;
  color: #777;
  //border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image : url(../images/running-men-bg.jpg);
  background-size: cover;
  color : white;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  padding-bottom : 40px;
  border-bottom: 1px solid #e5e5e5;
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.profile {
  padding-bottom : 40px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin: 20px 0;

  h2 {
    margin-top : 0;
  }

  p + h4 {
    margin-top: 28px;
  }

  .img-profile {
    margin : 0 0 20px 0;
  }

  i {
    color: #777;
  }
}

.services {
  text-align: center;
  h2 {
    margin-bottom : 20px;
  }

  padding-bottom : 40px;
  border-bottom: 1px solid #e5e5e5;

}

.locations {
  padding: 20px 0;
  height : 100%;
  h2 {
    margin-bottom : 20px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-phone) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .kinematics-nav {

    .navbar-nav > li > a {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .navbar-right {
      margin-right: 0;
    }

    &.sticky {
      position: fixed;
      background: rgba(255, 255, 255, 0.9);
      top: 0;
      z-index: 1;
      border : 0;
      border-radius: 0;
    }

  }

  .profile, .services {
    padding-top : 20px;
    text-align: left;
  }

  .logo {
    text-align: left;
    width : 180px;
    font-size:50px;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    padding-top : 60px;
    padding-bottom: 80px;
    border-bottom: 0;
    background-position-y: -60px;
  }
}

#map1-collingwood, #map2-kew {
  height : 200px;
}
