$icon-font-path: '../fonts/';
$alterate-gothic-font: $icon-font-path + '/alternate-gothic-2.ttf';

$kinematics-blue: #1D9AD3;
$kinematics-border : 3px solid $kinematics-blue;

@font-face {
  font-family: "Alternate Gothic";
  src: url($alterate-gothic-font);
}

.marketing {
  h2  {
    margin-top : 0;
  }
}

.logo {
  text-align: center;
  font-family: "Alternate Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:40px;
  width : 120px;
  > span {
    border-bottom : $kinematics-border;
    padding-bottom : 4px;
  }
}

.btn-primary#book-now {
  background-color: $kinematics-blue;
  border-color: $kinematics-blue;

  &:hover, &:active, &:focus, &.focus, &.active {
    background-color: $kinematics-blue;
    border-color: $kinematics-blue;
  }
}

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  /* Make the masthead heading the same height as the navigation */

  transition: all 0.5s ease;

  .btn-primary {
    float : right;
    margin : 20px;
    display : none;
    margin-left: 0;
  }

  &.sticky {
    position : fixed;
    background: rgba(255, 255, 255, 0.8);
    text-align: left;
    top : 0;
    left : 0;
    width : 100%;
    z-index: 1;
    .logo {
      text-align: left;
      margin : 20px 0 20px 20px;
      padding-bottom: 0;
      display : inline-block;
    }

    .btn-primary {
      display : inline-block;
      background: $kinematics-blue;
      border: 0;
    }
  }

  .logo {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .inner {
    height : 100%;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  padding-bottom : 60px;
  border-bottom: 1px solid #e5e5e5;
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.profile {
  padding-bottom : 60px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin: 40px 0;

  h2 {
    margin-top : 0;
  }

  p + h4 {
    margin-top: 28px;
  }

  .img-profile {
    margin : 20px 0;
    border : $kinematics-border;
    padding : 4px;
  }

  i {
    color: #777;
  }
}

.services {
  text-align: center;
  h2 {
    margin-bottom : 20px;
  }

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-phone) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .profile, .services {
    padding-top : 20px;
    text-align: left;
  }

  .logo {
    text-align: left;
    width : 180px;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
