---
layout: page
title: Contact
permalink: /contact/
---

<div class="locations row">

  <div class="col-lg-6">
    <address>
      <h3>Kew</h3><br>
      7/3 Wellington St<br>
      Kew VIC 3101<br>
      (Workshop 3101 Building)<br><br>
      <abbr title="Phone">P:</abbr> 03 9421 3661
      <br>
      {% include book-online-button.html %}
    </address>
  </div>

  <div class="col-lg-6 map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.233576329619!2d145.02754625059046!3d-37.80799757965402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad643c863fabf43%3A0x215d32006fabf99a!2sKinematics+Health+and+Performance!5e0!3m2!1sen!2sau!4v1487396524479" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>

<div class="locations row">

  <div class="col-lg-6">
    <address>
      <h3>Richmond</h3><br>
      Level 1, 15 Albert Street<br>
      Richmond VIC 3121<br>
      (Core Strength Fitness Centre) <br><br>
      <abbr title="Phone">P:</abbr> 03 9421 3661
      <br>
      {% include book-online-button.html %}
    </address>
  </div>

  <div class="col-lg-6 map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.3699391035266!2d144.99638265059113!3d-37.828224479650416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad6428c14e5f9b7%3A0x73e85ee1cf62f0d8!2sKinematics+Health+and+Performance!5e0!3m2!1sen!2sau!4v1487396582707" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>

<div class="locations row">

  <div class="col-lg-6">
    <address>
      <h3>West Footscray</h3><br>
      4/2D Indwe St<br>
      West Footscray VIC 3012<br><br>
      <abbr title="Phone">P:</abbr> 03 9421 3661
      <br>
      {% include book-online-button.html %}
    </address>
  </div>

  <div class="col-lg-6 map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.4430378140282!2d144.86586221502608!3d-37.80309047975435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad660abe71b745b%3A0xb2164e2dcab1d27!2s4%2F2D+Indwe+St%2C+West+Footscray+VIC+3012!5e0!3m2!1sen!2sau!4v1487624345213" height="300" frameborder="0" style="border:0"  allowfullscreen></iframe>
  </div>

</div>



