<div class="footer">

  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <img class="img-responsive" alt="Kinematics" src="{{ site.baseurl }}/assets/images/logo-svg.svg" />
      </div>

    </div>

    <div class="row">

      <div class="col-md-3">
        <ul>
          <li>
            <a href="https://www.google.com.au/maps/place/Kinematics+Health+and+Performance/@-37.8079976,145.0275516,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad643c863fabf43:0x215d32006fabf99a!8m2!3d-37.8079976!4d145.0297403" target="_blank">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Kew</a></li>
          <li>
            <a href="https://www.google.com.au/maps/place/Kinematics+Health+and+Performance/@-37.8282245,144.996388,17z/data=!3m1!4b1!4m5!3m4!1s0x6ad6428c14e5f9b7:0x73e85ee1cf62f0d8!8m2!3d-37.8282245!4d144.9985767" target="_blank">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Richmond</a></li>
          <li>
            <a href="https://her.is/2lmvSP3" target="_blank">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> West Footscray</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <p><abbr title="Phone">P: </abbr><a href="tel:+61-394-213-661">03 9421 3661</a></p>
        <p><abbr title="Email">Email:</abbr>  <a href="mailto:info@kinematics.com.au" class="site-email"><span>info@kinematics.com.au</span></a></p>
        <p>{% include book-online-button.html %}</p>
      </div>
      <div class="col-md-3">
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/kinematicshealthandperformance/">Facebook</a></li>
          <li><a target="_blank" href="https://www.instagram.com/kinematicsperformance/">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>ABN 30948658859</li>
        </ul>

      </div>

    </div>

  </div>

</div>
