.footer {
  background-color : $kinematics-gray;
  color : white;
  margin-top : 20px;
  text-align: left;
  padding : 20px;

  .footer-social-icons {
    > li {
      margin-bottom : 20px;
    }
    .icon {
      padding-right: 4px;
      > img {
        margin : 0;
      }
      &.icon-facebook {
        padding-right : 4px;
      }
    }
  }

  img {
    margin-bottom : 20px;
    max-width: 330px;
  }

  a {
    color : white;
    text-decoration: dotted;
  }

  ul {
    list-style: none;
    padding : 0;
  }

}