@media screen and (min-width: $screen-phone) {

  .kinematics-nav {

    .navbar-nav > li > a {
      padding-top: 25px;
      padding-bottom: 25px;
    }

    .navbar-right {
      margin-right: 0;
    }

  }

}

.header {
  padding-top: 0;
}

.navbar-support {
  width: 100%;
  padding: 0;
  background: $kinematics-blue;
  position: relative;
  text-align: right;
  height: 45px;

  div {
    padding : 10px;
  }
}

.social-icons {
  color: white;
  display: inline-block;
  text-align: right;
}

.icon-facebook {
  padding-right : 8px;
}

.icon {
  > img {
    width: 25px;
    height: 25px;
  }
}

.cta-links {
  line-height: 25px;
  font-weight: bold;
  display: inline-block;
  background: $kinematics-light-blue;
  color : $kinematics-blue;

  > a {
    padding : 0 20px;
  }
}

.kinematics-nav.navbar-default {

  margin-bottom : 5px;
  border : 0;
  background-color : transparent;

  .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-nav > li > a {
    color : $kinematics-blue;
  }

}

.cover-page {

  .kinematics-nav.navbar-default {
    .navbar-nav > li > a {
      color : white;
    }
  }

  .navbar-support {
    display : none;
  }

}