$kinematics-blue: #27267F;
$kinematics-gray: #4e4e4e;
$kinematics-light-blue: #bcc7e1;
$kinematics-border : 3px solid $kinematics-blue;

.kinematics a {
  color : $kinematics-blue;
  &.btn {
    color : white;
  }
}

.page-heading {
  margin-bottom: 40px;
  margin-top: 0;
}

.services {


  h3 {
    margin-top : 0;
  }

  img {
    margin-bottom : 20px;
  }
  .row {
    margin-bottom : 20px;
  }
}

.marketing {
  h2  {
    margin-top : 0;
  }
}

.btn-primary#book-now {
  background-color: transparent;
  border : 0;
  color : white;

  &:hover, &:active, &:focus, &.focus, &.active {
    background-color: transparent;
    border-color: white;
  }
}

// bower:scss
@import "bootstrap";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  margin-top : 40px;
  border-top : $kinematics-border;
  padding-top: 19px;
  color: #777;
}

.content {
  padding-bottom: 40px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image : url(../assets/images/running-men-bg.jpg);
  background-size: cover;
  color : white;

  &.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../assets/images/banner-image.jpg');
    background-size: cover;
    text-align: left;
  }

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  padding-bottom : 40px;
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

.profile {
  padding-bottom : 40px;
  border-bottom: 1px solid #e5e5e5;
  margin: 20px 0;

  h2 {
    margin-top : 0;
  }

  p + h4 {
    margin-top: 28px;
  }

  .img-profile {
    margin : 0 0 20px 0;
  }

  i {
    color: #777;
  }
}

.locations {
  padding: 20px 0;
  height : 100%;
  h2 {
    margin-bottom : 20px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-phone) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .profile {
    padding-top : 20px;
    text-align: left;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    padding-top : 60px;
    padding-bottom: 80px;
    border-bottom: 0;
    background-position-y: -60px;
  }
}

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

//For the maps on contact page
iframe {
  width : 100%;
}

.blue {
  background-color: $kinematics-blue;
  color : white;
}