.cover-img-wrap {
  max-width : 900px;
  margin : 80px auto 80px auto;
  padding : 0 20px;
}

.cover-img {
  max-width: 100%;
}

.ribbon {
  margin-top : 40px;
  background-color : $kinematics-light-blue;
  color : $kinematics-blue;
  text-transform: uppercase;
  margin-bottom: 40px;

  h2 {
    margin: 20px 0;
    white-space: nowrap;
  }

  > div {
    text-align: left;
    @media (min-width: 768px) {
      text-align: center;
    }
  }
}

.cover-locations {
  margin : 40px 0 60px 0;
  > div {
    text-align: center;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
