---
type: cover
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="kinematics cover-page">

{% include browser-upgrade.html %}

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    {% include header.html %}

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">Health and Performance Clinic</h1>
        <p class="lead">Kinematics Health and Performance Clinic provides a complete approach to the diagnosis, treatment and rehabilitation of muscular and skeletal issues.</p>
        <p class="lead">
          {% include primary-book-online-button.html %}
        </p>
      </div>

    </div>

    {% include footer.html %}

  </div>

</div>

{% include scripts.html %}

</body>


</html>