---
layout: default
---

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <a href="{{ site.baseurl }}/about">
      <img class="img-responsive cover-img" src="assets/images/kinematics.png"/>
    </a>
  </div>
</div>

<div class="row cover-locations">

  <div class="col-sm-4">
    <address>
      <h3>Collingwood</h3><br>
      132 Johnston St<br>
      VIC 3006<br>
      (Next door to Bluebird cafe)<br><br>
      <abbr title="Phone">P:</abbr> 03 9421 3661
      <br>
      <a href="https://kinematics-and-co.cliniko.com/bookings">Book online</a>
    </address>
  </div>

  <div class="col-sm-4">
    <address>
      <h3>Kew</h3><br>
      7/3 Wellington St<br>
      VIC 3101<br>
      (Workshop 3101 Building)<br><br>
      <abbr title="Phone">P:</abbr> 03 9421 3661
      <br>
      <a href="https://kinematics-and-co.cliniko.com/bookings">Book online</a>
    </address>

  </div>

  <div class="col-sm-4">
    <address>
      <h3>Richmond</h3><br>
      4A/337A Lennox St<br>
      VIC 3121<br>
      (sharing waiting area with Spine Consultants)<br><br>
      <abbr title="Phone">P:</abbr> 03 9421 3661
      <br>
      <a href="https://kinematics-and-co.cliniko.com/bookings">Book online</a>
    </address>

  </div>

</div>

