<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body class="kinematics cover-page">

{% include browser-upgrade.html %}

<div class="site-wrapper">

  <div class="site-wrapper-inner">

    {% include header.html %}

    <div class="cover-container">

      <div class="inner cover">
        <img class="img-responsive animated fadeInDown" alt="Kinematics" src="{{ site.baseurl }}/assets/images/logo-svg.svg" />
        <p class="lead">
          {% include social-icons.html %}
          {% include primary-book-online-button.html %}
        </p>

      </div>

    </div>

  </div>

</div>

<div class="container-fluid">

  <div class="ribbon row">
      <div class="col-lg-12">
        <h2>• Structure • Function • Performance</h2>
      </div>
  </div>

</div>

{% include footer.html %}

{% include scripts.html %}

</body>


</html>